{{ if (eq .chezmoi.os "darwin") -}}

{{ $taps := list
  "hashicorp/tap"
  "homebrew/autoupdate"
  "homebrew/bundle"
  "homebrew/cask"
  "homebrew/cask-fonts"
  "homebrew/core"
  "homebrew/services"
  "reviewdog/tap"
-}}

{{ $brews := list
  "ansible"
  "apr-util"
  "automake"
  "awscli"
  "bfg"
  "bison"
  "cask"
  "cloc"
  "cmake"
  "coreutils"
  "direnv"
  "fd"
  "fonttools"
  "fzf"
  "fzy"
  "gdbm"
  "gh"
  "gnutls"
  "gpg"
  "graphviz"
  "htop"
  "imagemagick@6"
  "jq"
  "k6"
  "keith/formulae/git-pile"
  "keychain"
  "kubectl"
  "lazygit"
  "libffi"
  "libfido2"
  "libyaml"
  "md5deep"
  "mise"
  "mkdocs"
  "monodraw"
  "mosh"
  "mysql-client@8.0"
  "newrelic-cli"
  "nvim"
  "openjdk"
  "planetscale/tap/pscale"
  "postgresql"
  "python"
  "rbspy"
  "readline"
  "ripgrep"
  "subversion"
  "tflint"
  "tig"
  "tmux"
  "unbound"
  "unixodbc"
  "watch"
  "wget"
  "zed"
-}}

{{ $casks := list
  "1password/tap/1password-cli"
  "https://raw.githubusercontent.com/Homebrew/homebrew-cask/48e57e46e96402894067af424999fb5ef8124e46/Casks/a/alacritty.rb"
  "alt-tab"
  "cleanmymac"
  "docker"
  "font-hack-nerd-font"
  "karabiner-elements"
  "nordvpn"
  "obsidian"
  "orbstack"
  "postman"
  "raycast"
  "readdle-spark"
  "skype"
  "slack"
  "spotify"
  "telegram"
  "viber"
  "whatsapp"
  "zoom"
-}}

{{ $pin_list := list
-}}

#!/bin/bash

brew update

{{ range $taps }}
brew tap {{ . }}
{{ end  }}
brew install --cask {{ $casks | join " " }}
brew install {{ $brews | join " " }}
# brew pin {{ $pin_list | join " " }}

{{ end -}}
