{{ if (eq .chezmoi.os "darwin") -}}

#!/bin/bash

# https://github.com/mathiasbynens/dotfiles/blob/main/.macos

set -eufo pipefail
echo "Reconfiguring MacOS..."

# Close any open System Preferences panes, to prevent them from overriding
# settings we’re about to change
osascript -e 'tell application "System Preferences" to quit'

###############################################################################
# General                                                                     #
###############################################################################

# Remove automatic spelling correction
defaults write -g NSAutomaticSpellingCorrectionEnabled -bool false

###############################################################################
# Dock, Dashboard, and hot corners                                            #
###############################################################################

# Remove the auto-hiding Dock delay
defaults write com.apple.dock autohide-delay -float 0
# Remove the animation when hiding/showing the Dock
defaults write com.apple.dock autohide-time-modifier -float 0
# Automatically hide and show the Dock
defaults write com.apple.dock autohide -bool true
# Don’t show recent applications in Dock
defaults write com.apple.dock show-recents -bool false
# Don’t automatically rearrange Spaces based on most recent use
defaults write com.apple.dock mru-spaces -bool false

# Remove some animations and decrease delays
defaults write com.apple.finder DisableAllAnimations -bool true
defaults write com.apple.dock launchanim -bool false
defaults write -g NSWindowResizeTime -float 0.001
defaults write com.apple.dock expose-animation-duration -float 0.1

launchctl unload -w /System/Library/LaunchAgents/com.apple.notificationcenterui.plist 2> /dev/null

###############################################################################
# Overrides                                                                   #
###############################################################################

# (!!! IDK if that works !!!) Disable shortcuts for Spotlight search
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 64 "{ enabled = 0; value = { parameters = (32, 49, 1048576); type = standard; }; }"

# (!!! DOESN'T WORK STILL !!!) Mission Control - Switch to Desktop [1-8] to Command+[1-8]
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 118 "{ enabled = 1; value = { parameters = (49, 18, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 119 "{ enabled = 1; value = { parameters = (50, 19, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 120 "{ enabled = 1; value = { parameters = (51, 20, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 121 "{ enabled = 1; value = { parameters = (52, 21, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 122 "{ enabled = 1; value = { parameters = (53, 23, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 123 "{ enabled = 1; value = { parameters = (54, 22, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 124 "{ enabled = 1; value = { parameters = (55, 26, 1048576); type = standard; }; }"
# defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 125 "{ enabled = 1; value = { parameters = (56, 28, 1048576); type = standard; }; }"

# How to get program name:
# mdls -name kMDItemCFBundleIdentifier /Applications/Alacritty.app

# How to override already set custom shortcut (set an empty dict):
# defaults write com.flexibits.fantastical2.mac NSUserKeyEquivalents -dict

# Change default keybindings of Cmd+H in order to not conflict with tmux config and to not
defaults write org.alacritty NSUserKeyEquivalents -dict-add "Hide alacritty" "\UF70E"  # F11 key

# Change default keybindings of Cmd+Q in order to not accidentally exit Alacritty
defaults write org.alacritty NSUserKeyEquivalents -dict-add "Quit alacritty" "\UF70F"  # F12 key

# Fantastical setup
defaults write com.flexibits.fantastical2.mac NSUserKeyEquivalents -dict-add "By Day" "@d"
defaults write com.flexibits.fantastical2.mac NSUserKeyEquivalents -dict-add "By Month" "@m"
defaults write com.flexibits.fantastical2.mac NSUserKeyEquivalents -dict-add "By Week" "@w"
defaults write com.flexibits.fantastical2.mac NSUserKeyEquivalents -dict-add "By Year" "@y"

###############################################################################
# Kill affected applications                                                  #
###############################################################################

for app in "Activity Monitor" \
        "SystemUIServer" \
	"Dock"; do
	killall "${app}" &> /dev/null || true
done

{{ end -}}
