{
  "tds": {
    "apiKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/key" .onepasswordWorkAccount }}",
    "region": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/region" .onepasswordWorkAccount }}",
    "accountID": {{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/account_id" .onepasswordWorkAccount }},
    "licenseKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/license_key" .onepasswordWorkAccount }}"
  }
}
