{
  "tds": {
    "apiKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/key" }}",
    "region": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/region" }}",
    "accountID": {{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/account_id" }},
    "licenseKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/license_key" }}"
  }
}
