{
  {{ if .work -}}
  "tds": {
    "apiKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/key" .onepasswordMigrateToWorkAccount }}",
    "region": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/region" .onepasswordMigrateToWorkAccount }}",
    "accountID": {{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/account_id" .onepasswordMigrateToWorkAccount }},
    "licenseKey": "{{ onepasswordRead "op://TDS/drxlf3hftadlwpnnuvipo57vpm/license_key" .onepasswordMigrateToWorkAccount }}"
  }
  {{ end -}}
}
