# Profile for "Ghostty Personal.app". Plain Ghostty loads none of this.
config-file = shared

{{ if .personal -}}
command = /bin/zsh -l -i -c "tmux new-session -A -s main"
{{- else -}}
command = ssh macbook-personal -t 'zsh -l -i -c "tmux new-session -A -s main"'
{{- end }}
