{{- $workstation := false -}}
{{- $bastion := false -}}

{{- if eq .chezmoi.hostname "bastion" -}}
{{-   $bastion = true -}}
{{- else -}}
{{-   $workstation = true -}}
{{- end -}}

[data]
bastion = {{ $bastion }}
workstation = {{ $workstation }}
