{{ if eq .chezmoi.os "darwin" -}}
[".local/bin/kanata"]
	type = "archive-file"
	url = "https://github.com/jtroo/kanata/releases/download/v1.10.0/macos-binaries-arm64-v1.10.0.zip"
	path = "kanata_macos_cmd_allowed_arm64"
	checksum.sha256="19fdeb89087b83cd6c1ac8f49612206acbb5134f5b14154966dcb3fa80dc9150"
	executable = true
{{- end }}

[".local/bin/try.rb"]
	type = "file"
	url = "https://raw.githubusercontent.com/tobi/try/d075e05c44d3f9bafa48a2c1f20488ead7824639/try.rb"
	checksum.sha256 = "1b4e620da3d54c601b7533e30e2ef2838f0a8f778954f7fcecb4567f05d790f4"
	executable = true

[".local/bin/mise"]
	type = "archive-file"
	{{- $mise_version := "2025.11.3" }}
	{{- $mise_checksum := "" }}
	{{ if eq .chezmoi.os "darwin" -}}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-macos-arm64.tar.gz"
	{{- $mise_checksum = "4e7dc4b6204eb6291039d10c7339fe6c800061316886934b9964bda0390f848a" }}
	{{- else }}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-linux-x64.tar.gz"
	{{- $mise_checksum = "7328499f0c467b11b8131e8d7d272948b46a423967b7235228c2e62a95b2459c" }}
	{{- end }}
	checksum.sha256="{{ $mise_checksum }}"
	path = "mise/bin/mise"
	executable = true

[".local/share/antidote"]
	type = "archive"
	url = "https://github.com/mattmc3/antidote/archive/refs/tags/v1.9.10.tar.gz"
	stripComponents = 1
	exact = true

['.local/share/git-pile']
	type = "archive"
	url = "https://github.com/keith/git-pile/archive/dbd9585fb0762c83b24873017bd0727225b37a76.tar.gz"
	stripComponents = 1
	exact = true
