{{ if eq .chezmoi.os "darwin" -}}
[".local/bin/kanata"]
	type = "archive-file"
	url = "https://github.com/jtroo/kanata/releases/download/v1.10.0/macos-binaries-arm64-v1.10.0.zip"
	path = "kanata_macos_cmd_allowed_arm64"
	checksum.sha256="19fdeb89087b83cd6c1ac8f49612206acbb5134f5b14154966dcb3fa80dc9150"
	executable = true
{{- end }}

[".local/bin/try.rb"]
	type = "file"
	url = "https://raw.githubusercontent.com/tobi/try/9babc916eb199148c5949e7e8dee318a3f3a4770/try.rb"
	checksum.sha256 = "8488dec02993b8dfe73f8af4bea798f54681315be455f137c0479c561d1e4475"
	executable = true

[".local/bin/mise"]
	type = "archive-file"
	{{- $mise_version := "2025.12.6" }}
	{{- $mise_checksum := "" }}
	{{ if eq .chezmoi.os "darwin" -}}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-macos-arm64.tar.gz"
	{{- $mise_checksum = "f865db319b70e56e24c2013d22f34b0b3d5a97e6ac3b03f894a5850a3e5824bb" }}
	{{- else }}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-linux-x64.tar.gz"
	{{- $mise_checksum = "55503e81b3e8d655be1cbfbdf642345b2a3b60ffb76d094974f1a8cd60f0db49" }}
	{{- end }}
	checksum.sha256="{{ $mise_checksum }}"
	path = "mise/bin/mise"
	executable = true

[".local/share/antidote"]
	type = "archive"
	url = "https://github.com/mattmc3/antidote/archive/refs/tags/v1.9.10.tar.gz"
	checksum.sha256="4beb9074da75bfe44a502db61542c557af1a6206a3cdd6e36c3f0743d71417ec"
	stripComponents = 1
	exact = true

['.local/share/git-pile']
	type = "archive"
	url = "https://github.com/keith/git-pile/archive/8a1c17fa632c29fc230acb2d0ee0cd183e22f793.tar.gz"
	checksum.sha256="cb06cd00e43ee3d3640cc9e1ee266dfbf4cc34b4e596999902ac08daed45ed9d"
	stripComponents = 1
	exact = true
