{{ if eq .chezmoi.os "darwin" -}}
[".local/bin/goku"]
	type = "archive-file"
	url = "https://github.com/yqrashawn/GokuRakuJoudo/releases/download/v0.8.0/goku-arm.zip"
	path = "goku/goku"
	executable = true

[".local/bin/kanata"]
	type = "file"
	url = "https://github.com/jtroo/kanata/releases/download/v1.10.0/kanata_macos_cmd_allowed_arm64"
	executable = true
	checksum.sha256="616480fc13b9040a02f7df13f7b49fce8273aa68d2cc73d8416e50fd9cfc2f7f"
{{- end }}

[".local/bin/mise"]
	type = "archive-file"
	{{- $mise_version := "2025.11.3" }}
	{{ if eq .chezmoi.os "darwin" -}}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-macos-arm64.tar.gz"
	{{- else }}
	url = "https://github.com/jdx/mise/releases/download/v{{ $mise_version }}/mise-v{{ $mise_version }}-linux-x64.tar.gz"
	{{- end }}
	path = "mise/bin/mise"
	executable = true

[".local/share/antidote"]
	type = "archive"
	url = "https://github.com/mattmc3/antidote/archive/refs/tags/v1.9.10.tar.gz"
	stripComponents = 1
	exact = true

['.local/share/git-pile']
	type = "archive"
	url = "https://github.com/keith/git-pile/archive/dbd9585fb0762c83b24873017bd0727225b37a76.tar.gz"
	stripComponents = 1
	exact = true

[".config/tmux/tmux.conf"]
	type = "file"
	url = "https://raw.githubusercontent.com/gpakosz/.tmux/master/.tmux.conf"
	refreshPeriod = "168h"
