# SSH
.ssh/known_hosts

# NeoVim
.config/nvim/lazy-lock.json

# Tmux
.config/tmux/plugins

# Fish
.config/fish/fish_variables

# ZSH
.oh-my-zsh/cache/**/*
.oh-my-zsh/templates/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc

# Ignore machine-specific directories
{{ if not .work -}}
private/Dev/work
{{ end -}}

{{ if not .personal -}}
private/Dev/personal
{{ end -}}
