{{- $work := false -}}
{{- $personal := false -}}
{{- $remote := false -}}
{{- $computerName := "" -}}

{{- if (eq .chezmoi.os "darwin") -}}
{{-   $computerName = output "scutil" "--get" "ComputerName" | trim -}}
{{- else -}}
{{-   $computerName = .chezmoi.hostname -}}
{{- end -}}

{{- if (eq $computerName "macbook-tds") -}}
{{-   $work = true -}}
{{- else if (eq $computerName "macbook-personal") -}}
{{-   $personal = true -}}
{{- else if (eq $computerName "hetzner-mixed") -}}
{{-   $work = true -}}
{{-   $remote = true -}}
{{- else if (eq $computerName "hetzner-personal") -}}
{{-   $personal = true -}}
{{-   $remote = true -}}
{{- end -}}

[data]
githubPersonalTokenBase         = "op://Private/pj4ygw2cha76xlxbiqehnl4au4/"
githubWorkTokenBase             = "op://Private/usfmeu6pq3hwuqqguijv2ev6ia/"
onepasswordPersonalAccount      = "ACU5EGZ7SNDWLK6DFFGDAWBZOI"
# TODO: remove this one altogether after migration is over
onepasswordMigrateToWorkAccount = "ACU5EGZ7SNDWLK6DFFGDAWBZOI"
# TODO: fill this out
onepasswordWorkAccount     = "Fill me out"
obsidianVaultPath          = "~/Dev/mixed/obsidian_vaults/glebglazov"
work                       = {{ $work }}
personal                   = {{ $personal }}
remote                     = {{ $remote }}
