{{- $tds := false -}}

{{- $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{ if (eq $computerName "macbook-tds") -}}
  {{- $tds = true -}}
{{ end -}}

[data]
tds = {{ $tds }}
onepasswordPersonalAccount = "DDLQGO2FFVEQHAR5L2CWZUCIJY"
onepasswordWorkAccount     = "DDLQGO2FFVEQHAR5L2CWZUCIJY"
obsidianVaultPath          = "~/Dev/obsidian_vaults/glebglazov"
