[user]
  email = glazov.gleb@gmail.com
  name = Gleb Glazov
  signingkey = ~/.ssh/signing.pub

[core]
  excludesFile = ~/.gitignore

[gpg]
  format = ssh

[commit]
  gpgsign = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rerere]
  enabled = true

[diff "lockb"]
  textconv = bun
  binary = true

{{- $do_not_push_remote_branches := list
  "main"
  "master"
}}
{{ range $do_not_push_remote_branches }}
[branch "{{ . }}"]
  pushRemote = NOPE
{{ end }}
