function configure_agents {
  {{- if not (eq (len .ssh_keys) 0) }}
	eval `keychain -q --agents ssh --inherit any --eval {{ .ssh_keys | join " " }}`
	{{- end }}
  {{- if not (eq .gpg_key_object_id "") }}
	eval `keychain -q --agents gpg --inherit any --eval {{ (bitwardenFields "item" .gpg_key_object_id).public.value }}`
	{{- end }}
}
configure_agents

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="powerlevel10k/powerlevel10k"

plugins=(
	git
	ruby
	rails
	bundler
	docker
	docker-compose
	fzf
	zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh
for f in ~/.zshrc_includes/*; do source $f; done

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
[ -f ~/.my_profile ] && source ~/.my_profile
[ -f ~/.bw_sessions ] && source ~/.bw_sessions
[ -f ~/.p10k.zsh ] && source ~/.p10k.zsh
