[user]
  email = glazov.gleb@gmail.com
  name = Gleb Glazov
{{- if not (eq .gpg_key_object_id "") }}
  signinkey = {{ printf "op://Private/%s/public" .gpg_key_object_id | onepasswordRead }}
[commit]
  gpgsign = true
{{- end }}
