export PATH="$PATH:$HOME/.local/bin"

export XDG_CONFIG_DIRS=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config

export GOPATH=$HOME/Dev/go
export GO111MODULE=on

export DISABLE_AUTO_UPDATE=true

export EDITOR="nvim"

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export GITHUB_USER=glebglazov

export RIPGREP_CONFIG_PATH=$HOME/.config/ripgrep/config
