export PATH=/opt/homebrew/bin:$PATH

{{ if eq .chezmoi.os "darwin" -}}
export BREW_PREFIX=/opt/homebrew/opt
export DOCKER_CONTEXT=orbstack
{{ else -}}
export BREW_PREFIX=/home/linuxbrew/.linuxbrew/opt
{{ end -}}

export XDG_CONFIG_DIRS=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config

export OP_ACCOUNT=DDLQGO2FFVEQHAR5L2CWZUCIJY

export GOPATH=$HOME/Dev/go
export GO111MODULE=on

export DISABLE_AUTO_UPDATE=true

export EDITOR="nvim"
export PAGER=ov

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

export GITHUB_USER=glebglazov

export RIPGREP_CONFIG_PATH=$HOME/.config/ripgrep/config

export TMUX_FOLDERS_SEARCH_PATHS="~ ~/Dev ~/Dev/random ~/.local/share"

export HOMEBREW_NO_AUTO_UPDATE=1

export ZOXIDE_CMD_OVERRIDE=cd

export QUICKOPEN_FOLDER_0=~/.local/share/chezmoi

export MISE_GITHUB_TOKEN=""
