{{ $taps := list -}}
{{ $casks := list -}}
{{ $mass_brew := list -}}
{{ $darwin_brew := list -}}
{{ $linux_brew := list -}}
{{ $pin_list := list -}}

{{ $taps = list
  "hashicorp/tap"
  "homebrew/autoupdate"
  "homebrew/bundle"
  "homebrew/cask"
  "homebrew/core"
  "homebrew/services"
-}}

{{ $mass_brew = list
  "ansible"
  "apr-util"
  "automake"
  "awscli"
  "bfg"
  "bison"
  "cask"
  "cloc"
  "cmake"
  "coreutils"
  "direnv"
  "fd"
  "fonttools"
  "fzf"
  "fzy"
  "gdbm"
  "gh"
  "gnutls"
  "gpg"
  "graphviz"
  "htop"
  "imagemagick@6"
  "jj"
  "joshmedeski/sesh/sesh"
  "jq"
  "k6"
  "keychain"
  "kubectl"
  "lazygit"
  "libffi"
  "libfido2"
  "libyaml"
  "md5deep"
  "mise"
  "mkdocs"
  "mockery"
  "mosh"
  "mysql-client@8.0"
  "newrelic-cli"
  "nvim"
  "openjdk"
  "overmind"
  "postgresql"
  "pstree"
  "python"
  "rbspy"
  "readline"
  "redis"
  "ripgrep"
  "terrascan"
  "tflint"
  "tig"
  "tmux"
  "unbound"
  "unixodbc"
  "watch"
  "wget"
  "zoxide"
  "zsh"
-}}

{{ $casks = list
  "1password/tap/1password-cli"
  "alacritty"
  "alt-tab"
  "chatgpt"
  "cleanmymac"
  "font-hack-nerd-font"
  "karabiner-elements"
  "keycastr"
  "nordvpn"
  "obsidian"
  "orbstack"
  "postman"
  "raycast"
  "skype"
  "slack"
  "spotify"
  "telegram"
  "viber"
  "whatsapp"
  "zoom"
-}}

{{- $linux_brew = list
  "docker-compose"
  "openssh"
-}}

{{- $darwin_brew = list
  "monodraw"
  "zed"
-}}

#!/bin/bash

# brew update

{{ range $taps }}
brew tap {{ . }}
{{ end  }}

echo "brew install {{ $mass_brew | join " " }}"
brew install {{ $mass_brew | join " " }}

{{ if (eq .chezmoi.os "darwin" | not) -}}
brew install {{ $linux_brew | join " " }}
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
echo "brew install --cask {{ $casks | join " " }}"
brew install --cask {{ $casks | join " " }}

echo "brew install {{ $darwin_brew | join " " }}"
brew install {{ $darwin_brew | join " " }}
{{ end -}}

{{ if (len $pin_list | gt 0) -}}
brew pin {{ $pin_list | join " " }}
{{ end -}}
