#!/bin/bash

set -eufo pipefail

# config hash: {{ include "private_dot_config/exact_nvim/lua/glebglazov/plugins.lua" | sha256sum }}
echo "Installing NeoVim plugins..."
zsh -c "nvim --headless -c 'autocmd User LazySync quitall' -c 'Lazy sync'"
