{{ $taps := list -}}
{{ $casks := list -}}
{{ $mass_brew := list -}}
{{ $darwin_brew := list -}}
{{ $linux_brew := list -}}
{{ $pin_list := list -}}

{{ $taps = list
  "hashicorp/tap"
  "homebrew/autoupdate"
  "homebrew/bundle"
  "homebrew/services"
-}}

{{ $mass_brew = list
  "ansible"
  "apr-util"
  "atuin"
  "automake"
  "awscli"
  "bfg"
  "bison"
  "cask"
  "cloc"
  "cmake"
  "coreutils"
  "d2"
  "direnv"
  "eza"
  "fd"
  "fish"
  "fonttools"
  "fx"
  "fzf"
  "fzy"
  "gdbm"
  "gh"
  "gnutls"
  "gpg"
  "graphviz"
  "htop"
  "hyperfine"
  "imagemagick@6"
  "jj"
  "joshmedeski/sesh/sesh"
  "jq"
  "k6"
  "keychain"
  "kubectl"
  "lazygit"
  "lefthook"
  "libffi"
  "libfido2"
  "libyaml"
  "llvm@19"
  "md5deep"
  "mkdocs"
  "mockery"
  "mosh"
  "mysql-client@8.0"
  "newrelic-cli"
  "ninja"
  "noborus/tap/ov"
  "nushell"
  "nvim"
  "ollama"
  "openjdk"
  "overmind"
  "postgresql"
  "posting"
  "pstree"
  "python"
  "rbspy"
  "readline"
  "redis"
  "ripgrep"
  "sqlite"
  "syncthing"
  "terrascan"
  "tflint"
  "tig"
  "tmux"
  "unbound"
  "unixodbc"
  "watch"
  "wget"
  "zoxide"
  "zsh"
-}}

{{ $casks = list
  "1password/tap/1password-cli"
  "alt-tab"
  "betterdisplay"
  "chatgpt"
  "cleanshot"
  "cursor"
  "fantastical"
  "font-hack-nerd-font"
  "ghostty@tip"
  "homerow"
  "karabiner-elements"
  "keycastr"
  "microsoft-teams"
  "mouseless"
  "nordvpn"
  "obsidian"
  "orbstack"
  "raycast"
  "slack"
  "spotify"
  "telegram"
  "viber"
  "whatsapp"
  "zen-browser"
  "zoom"
-}}

{{- if (eq .personal true) -}}
  {{ $casks = concat $casks (list
       "claude"
       "figma"
       "font-sf-pro"
       "rapidapi"
       "sf-symbols"
    )
  }}
{{- else if (eq .work true) -}}
  {{ $casks = concat $casks (list
       "postman"
       "snowflake-snowsql"
    )
  }}
{{- end -}}

{{- $linux_brew = list
  "docker-compose"
  "openssh"
-}}

{{- $darwin_brew = list
  "monodraw"
  "zed"
-}}

#!/bin/bash

# brew update

{{ range $taps }}
brew tap {{ . }}
{{ end  }}

echo "brew install {{ $mass_brew | join " " }}"
brew install {{ $mass_brew | join " " }}

{{ if (eq .chezmoi.os "darwin" | not) -}}
brew install {{ $linux_brew | join " " }}
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
{{ range $casks }}
  echo "brew install --cask {{ . }}"
  brew install --cask {{ . }}
{{ end }}

echo "brew install {{ $darwin_brew | join " " }}"
brew install {{ $darwin_brew | join " " }}
{{ end -}}

{{ if (len $pin_list | gt 0) -}}
brew pin {{ $pin_list | join " " }}
{{ end -}}
