#!/bin/bash

# For now install alacritty 13.2 from the local formula
# TODO: remove after some annoying bugs will be fixed in newer versions (Cmd+Shift+L haven't worked for me)
brew install --formula ~/.local/homebrew_formulas/alacritty.rb || echo "It should be okay"
