{{ $taps := list -}}
{{ $casks := list -}}
{{ $mass_brew := list -}}
{{ $craft_brew := list -}}
{{ $pin_list := list -}}

{{ $taps = list
  "hashicorp/tap"
  "homebrew/autoupdate"
  "homebrew/bundle"
  "homebrew/cask"
  "homebrew/core"
  "homebrew/services"
-}}

{{ $mass_brew = list
  "ansible"
  "apr-util"
  "automake"
  "awscli"
  "bfg"
  "bison"
  "cask"
  "cloc"
  "cmake"
  "coreutils"
  "direnv"
  "fd"
  "fonttools"
  "fzf"
  "fzy"
  "gdbm"
  "gh"
  "gnutls"
  "gpg"
  "graphviz"
  "htop"
  "imagemagick@6"
  "jq"
  "k6"
  "keychain"
  "kubectl"
  "lazygit"
  "libffi"
  "libfido2"
  "libyaml"
  "md5deep"
  "mise"
  "mkdocs"
  "mosh"
  "mysql-client@8.0"
  "newrelic-cli"
  "nvim"
  "overmind"
  "openjdk"
  "postgresql"
  "pstree"
  "python"
  "rbspy"
  "readline"
  "redis"
  "ripgrep"
  "tflint"
  "tig"
  "tmux"
  "unbound"
  "unixodbc"
  "watch"
  "wget"
  "zed"
  "zsh"
-}}

{{ if (eq .chezmoi.os "darwin") -}}
{{ $casks = list
  "1password/tap/1password-cli"
  "alacritty"
  "alt-tab"
  "cleanmymac"
  "font-hack-nerd-font"
  "karabiner-elements"
  "nordvpn"
  "obsidian"
  "orbstack"
  "postman"
  "raycast"
  "readdle-spark"
  "skype"
  "slack"
  "spotify"
  "telegram"
  "viber"
  "whatsapp"
  "zoom"
-}}
{{- end -}}

{{- $craft_brew = list
  "monodraw"
-}}

#!/bin/bash

brew update

{{ range $taps }}
brew tap {{ . }}
{{ end  }}
brew install --cask {{ $casks | join " " }}
brew install {{ $mass_brew | join " " }}
{{ range $craft_brew }}
  brew install {{ . }} || echo "\033[0;31mSomething went wrong crafting {{ . }}"
{{ end  }}
# brew pin {{ $pin_list | join " " }}
