{{ if not (eq .gpg_key_object_id "") -}}

#!/bin/bash

{{ $gpg_key := printf "op://Private/%s/private" .gpg_key_object_id | onepasswordRead }}

tempfile=$(mktemp)
cleanup() {
	rm "$tempfile"
}
trap cleanup EXIT

# GPG key hash: {{ $gpg_key | sha256sum }}
cat <<KEY > $tempfile
{{ $gpg_key }}
KEY

{{ if (eq .chezmoi.os "linux") -}}
export GPG_TTY=$(tty)
{{ end -}}

cat $tempfile | base64 -d | gpg --import

{{ end -}}
