{{- if .bastion -}}
{{   range gitHubKeys "glebglazov" -}}
{{     .Key }}
{{   end -}}
{{- end -}}
{{- if .workstation -}}
{{   (bitwardenFields "item" "[SSH Key] Bastion").public.value }}
{{- end }}
