{{- if .bastion -}}
{{   range gitHubKeys "glebglazov" -}}
{{     .Key }}
{{   end -}}
{{- end -}}
{{- if .workstation -}}
{{   (bitwardenFields "item" "199e363a-659e-4038-b003-aec2016ba515").public.value }}
{{- end }}
