{{- if .bastion -}}
{{   range gitHubKeys "glebglazov" -}}
{{     .Key }}
{{   end -}}
{{- end -}}
{{- if .workstation -}}
{{   (onepasswordRead "op://Private/SSH Key - Bastion/public") }}
{{- end }}
