[default]
aws_access_key_id = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").secret_access_key.value }}
