alias vim="nvim"
alias tf="terraform"
alias ide="tmux-ide-layout"
alias git="git-wrapper"
alias fabric="fabric-ai"
alias \?="noglob _websearch"
alias \?\?="noglob _askclaudequick"

{{ if eq .chezmoi.os "darwin" -}}
alias love="/Applications/love.app/Contents/MacOS/love"
{{ end }}

# Source all functions
for func_file in "${0:h}/functions/"*.sh; do
    source "$func_file"
done
