{{- if .remote -}}
{{ onepasswordRead "op://Private/oo2u5ibimku75esag2ywy3pq4u/public key" .onepasswordPersonalAccount }}
{{ onepasswordRead "op://Private/zcnu52hihwoxp3mhmyfvicnh4y/public key" .onepasswordPersonalAccount }}
{{ onepasswordRead "op://Private/auoybcz6lfaep2xgg6atyotoci/public key" .onepasswordPersonalAccount }}
{{- end -}}
