Host *.tripledotapi.com
  User ubuntu

Host github.com
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host github-obsidian-backup
  HostName github.com
  User git
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/glebglazov_automations

Host *
  IdentitiesOnly yes
