function update-kubectl-context
    for c in (aws eks list-clusters | jq -r '.clusters | .[]')
        aws eks update-kubeconfig --name $c
    end

    {{ if .work -}}
    for c in (aws eks list-clusters --profile tds-abc | jq -r '.clusters | .[]')
        aws eks update-kubeconfig --profile tds-abc --name $c
    end
    {{ end }}
end
