{{ $tds_item_name := "Token - AWS Tripledot" -}}
{{ $personal_item_name := "Token - AWS Personal" -}}
{{ if .workstation -}}
[default]
aws_access_key_id = {{ printf "op://Private/%s/access_key_id" $tds_item_name | onepasswordRead  }}
aws_secret_access_key = {{ printf "op://Private/%s/secret_access_key" $tds_item_name | onepasswordRead }}
[tds]
aws_access_key_id = {{ printf "op://Private/%s/access_key_id" $tds_item_name | onepasswordRead }}
aws_secret_access_key = {{ printf "op://Private/%s/secret_access_key" $tds_item_name | onepasswordRead }}
[personal]
aws_access_key_id = {{ printf "op://Private/%s/access_key_id" $personal_item_name | onepasswordRead }}
aws_secret_access_key = {{ printf "op://Private/%s/secret_access_key" $personal_item_name | onepasswordRead }}
{{ end -}}
