{{ $tds_item_name := "[Token] AWS Tripledot" -}}
{{ $personal_item_name := "[Token] AWS Personal" -}}
{{ if .workstation -}}
[default]
aws_access_key_id = {{ (bitwardenFields "item" $tds_item_name).access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" $tds_item_name).secret_access_key.value }}
[tds]
aws_access_key_id = {{ (bitwardenFields "item" $tds_item_name).access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" $tds_item_name).secret_access_key.value }}
[personal]
aws_access_key_id = {{ (bitwardenFields "item" $personal_item_name).access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" $personal_item_name).secret_access_key.value }}
{{ end -}}
