[default]
aws_access_key_id = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").secret_access_key.value }}
[tds]
aws_access_key_id = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "20c00f42-7dc1-4256-9db9-aeb9015bfb35").secret_access_key.value }}
[personal]
aws_access_key_id = {{ (bitwardenFields "item" "d41069b4-b12e-441c-a3a7-aeba012797a2").access_key_id.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "d41069b4-b12e-441c-a3a7-aeba012797a2").secret_access_key.value }}
