[default]
region = us-east-1
{{- if .personal -}}
[profile personal]
region = eu-central-1
{{- end -}}
{{- if .work -}}
[profile tds]
region = us-east-1
aws_access_key_id = {{ onepasswordRead "op://TDS/m4qawe5zz4olywpqg3olpmc3am/access_key_id" .onepasswordWorkAccount }}
aws_secret_access_key = {{ onepasswordRead "op://TDS/m4qawe5zz4olywpqg3olpmc3am/secret_access_key" .onepasswordWorkAccount }}
[profile data_engineering]
region = us-east-1
aws_access_key_id = {{ onepasswordRead "op://TDS/m4qawe5zz4olywpqg3olpmc3am/access_key_id" .onepasswordWorkAccount }}
aws_secret_access_key = {{ onepasswordRead "op://TDS/m4qawe5zz4olywpqg3olpmc3am/secret_access_key" .onepasswordWorkAccount }}
{{- end -}}
