{{ if (eq .chezmoi.os "linux") -}}

{{ $packages := list
  "software-properties-common"
  "fzf"
  "ripgrep"
  "git"
  "tig"
  "mosh"
  "tmux"
  "docker.io"
  "docker-compose"
  "make"
  "wget"
  "curl"
  "libmysqlclient-dev"
  "mysql-client"
  "pkg-config"
  "nodejs"
  "yarn"
  "xsel"
  "zsh"
  "jq"
  "keychain"
-}}

{{ $snaps := list
   "nvim"
-}}

#!/bin/sh

set -euf

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ 	$sudo = "" -}}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ range $snaps }}
{{ $sudo }}snap install --classic {{ . }}
{{ end }}

chsh -s $(which zsh)
{{ end -}}
