{{ if (eq .chezmoi.os "linux") -}}

{{ $packages := list
  "fzf"
  "ripgrep"
  "vim-gtk3"
  "git"
  "tig"
  "mosh"
  "tmux"
  "make"
  "wget"
  "curl"
  "pkg-config"
  "xclip"
  "xsel"
  "zsh"
  "jq"
  "keychain"
  "mosh"
  "direnv"
-}}

{{ if .workstation -}}
{{   $packages = concat $packages (list
       "software-properties-common"
       "docker.io"
       "docker-compose"
       "mysql-client"
       "nodejs"
       "yarn"
       "libmysqlclient-dev") -}}
{{ end -}}

{{ $snaps := list -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ 	$sudo = "" -}}
{{ end -}}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ range $snaps }}
{{ $sudo }}snap install --classic {{ . }}
{{ end }}

chsh -s $(which zsh)

ln -s $HOME/snap/bw/current/.config/Bitwarden\ CLI $HOME/.config/Bitwarden\ CLI
{{ end -}}
