{{ if (eq .chezmoi.os "linux") -}}

{{ $ppa_repos := list -}}

{{ $packages := list
  "fzf"
  "ripgrep"
  "git"
  "tig"
  "mosh"
  "tmux"
  "make"
  "wget"
  "curl"
  "pkg-config"
  "zsh"
  "jq"
  "keychain"
  "mosh"
  "direnv"
  "1password-cli"
-}}

{{ $packages = concat $packages (list
       "software-properties-common"
       "docker.io"
       "docker-compose"
       "mysql-client"
       "nodejs"
       "npm"
       "libmysqlclient-dev")
-}}

{{ $snaps := list "nvim" -}}

#!/bin/bash

set -eufo pipefail

# 1Password boilerplate start

curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
 gpg --dearmor --output /usr/share/keyrings/1password-archive-keyring.gpg

echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
 tee /etc/apt/sources.list.d/1password.list

mkdir -p /etc/debsig/policies/AC2D62742012EA22/
curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
  tee /etc/debsig/policies/AC2D62742012EA22/1password.pol

mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
  gpg --dearmor --output /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg

# 1Password boilerplate end

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ 	$sudo = "" -}}
{{ end -}}

{{ range $ppa_repos }}
{{ $sudo }}add-apt-repository -y {{ . }}
{{ end }}

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ range $snaps }}
{{ $sudo }}snap install --classic {{ . }}
{{ end }}

chsh -s $(which zsh)

npm install --global yarn
{{ end -}}
