{{- if .work -}}
{{ template "tds/github-workflow-env-vars.tmpl" . }}
export GITHUB_TOKEN={{ onepasswordRead (printf "%v%v" .githubTokenBase "token") .onepasswordMigrateToWorkAccount }}
export BUNDLE_RUBYGEMS__PKG__GITHUB__COM={{ onepasswordRead (printf "%v%v" .githubTokenBase "username_and_token") .onepasswordWorklAccount }}
{{- end -}}
