---
description: Locates files, directories, and components relevant to a feature or task. Call `codebase-locator` with human language prompt describing what you're looking for. Basically a "Super Grep/Glob/LS tool" — Use it if you find yourself desiring to use one of these tools more than once.
mode: subagent
model: anthropic/claude-sonnet-4-5-20250929
tools:
  write: false
  edit: false
---

{{ template "shared/llm_prompts/subagents/codebase-analyzer.md.tmpl" . }}
