---
description: Discovers relevant documents in thoughts/ directory (We use this for all sorts of metadata storage!). This is really only relevant/needed when you're in a reseaching mood and need to figure out if we have random thoughts written down that are relevant to your current research task. Based on the name, I imagine you can guess this is the `thoughts` equivilent of `codebase-locator`
mode: subagent
model: anthropic/claude-sonnet-4-5-20250929
tools:
  write: false
  edit: false
---

{{ template "shared/llm_prompts/subagents/thoughts-locator.md.tmpl" . }}
