[user]
  email = glazov.gleb@gmail.com
  name = Gleb Glazov
  signingkey = ~/.ssh/signing_glebglazov.pub

[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[rerere]
  enabled = true
  # automatically solve conflict if rebasing on a branch with a lot of new commits
  autoUpdate = true

[diff "lockb"]
  textconv = bun
  binary = true


[branch]
sort = -committerdate

# Prevent pushing to main and master branches
# The only way to push to them is to do it explicitly or tinkering config in the repo itself
# TODO: add more presice explanation
{{- $do_not_push_remote_branches := list
  "main"
  "master"
}}
{{ range $do_not_push_remote_branches }}
[branch "{{ . }}"]
  pushRemote = NOPE
{{ end }}

[pile]
  cleanupRemoteOnSubmitFailure = true

[mergetool "fugitive"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
  trustExitCode = false

[merge]
  tool = fugitive

# Setup of work account
[includeIf "gitdir:~/Dev/work/"]
    path = ~/.config/git/config-work
[includeIf "gitdir:~/Dev/private/work/"]
    path = ~/.config/git/config-work

# Setup to push to obsidian backup vault from automations GitHub profile
# Adding these two includeIf with couple of things to review next time I'll need to tweak that setup
# 1. Directive includeIf works only with "/" at the end
# 2. There are two paths added, cause "Dev" folder is a symlink of "private/Dev", so I need to include both paths for that to work in all cases
[includeIf "gitdir:{{ .obsidianVaultPath }}/"]
    path = ~/.config/git/config-automations
[includeIf "gitdir:/Users/glebglazov/private/Dev/obsidian_vaults/glebglazov/"]
    path = ~/.config/git/config-automations
[url "github-obsidian-backup:glebglazov/obsidian_backup"]
    insteadOf = git@github.com:glebglazov/obsidian_backup
