(defcfg
  danger-enable-cmd yes
  concurrent-tap-hold yes
)

(defsrc
  esc      f1       f2       f3       f4       f5       f6       f7       f8       f9       f10      f11      f12
  grv      1        2        3        4        5        6        7        8        9        0        -        =        bspc
  tab      q        w        e        r        t        y        u        i        o        p        [        ]        ret
  caps     a        s        d        f        g        h        j        k        l        ;        '        \
  lsft     z        x        c        v        b        n        m        ,        .        /        rsft
  fn       lctl     lalt     lmet                       spc                        rmet     ralt     rctl     left     down     up       right
)

(platform (macos)
  (defoverrides
    (lctl bspc) (lalt bspc)
    (rctl bspc) (ralt bspc)

    (lctl up) (lalt up)
    (lctl down) (lalt down)
    (lctl left) (lalt left)
    (lctl right) (lalt right)

    (rctl up) (ralt up)
    (rctl down) (ralt down)
    (rctl left) (ralt left)
    (rctl right) (ralt right)
  )
)

(defvar
  tap-timeout 200
  hold-timeout 200
  chord-timeout 30
  chord-timeout-slow 50
)

(deftemplate charmod (char mod)
  (switch
    ((key-timing 3 less-than 250)) $char break
    () (tap-hold-release-timeout 200 500 $char $mod $char) break
  )
)

(deftemplate deeplink (url)
  (cmd-log none none open -g $url)
)

(deftemplate openapp (appname)
  (cmd-log none none open -a $appname)
)

(defalias
  ;; layers
  l_fn  (layer-while-held fn)
  l_sys (layer-while-held system)
  l_win (layer-while-held window)
  l_app (layer-while-held app)
  l_act (layer-switch actions)
  l_scr (layer-switch screenshot)
  l_cmk (layer-switch colemak)
  l_qwe (layer-switch qwerty)

  ;; layout qwerty rebinds
  l_qwe_grv (tap-hold $tap-timeout $hold-timeout grv @l_cmk)
  l_qwe_s (t! charmod s lsft)
  l_qwe_d (t! charmod d lctl)
  l_qwe_f (t! charmod f lmet)
  l_qwe_c (t! charmod c lalt)
  l_qwe_j (t! charmod j rmet)
  l_qwe_k (t! charmod k rctl)
  l_qwe_l (t! charmod l rsft)
  l_qwe_m (t! charmod m ralt)

  ;; layout colemak rebinds
  l_cmk_grv (tap-hold $tap-timeout $hold-timeout grv @l_qwe)
  l_cmk_r (t! charmod r lsft)
  l_cmk_s (t! charmod s lctl)
  l_cmk_t (t! charmod t lmet)
  l_cmk_c (t! charmod c lalt)
  l_cmk_n (t! charmod n rmet)
  l_cmk_e (t! charmod e rctl)
  l_cmk_i (t! charmod i rsft)
  l_cmk_h (t! charmod h ralt)

  ;; layer switchers
  fn   (tap-hold $tap-timeout $hold-timeout fn @l_fn)
  5    (tap-hold-release-timeout $tap-timeout $hold-timeout 5 @l_sys 5)
  w    (tap-hold-release-timeout $tap-timeout $hold-timeout w @l_win w)
  u    (fork u (one-shot-press 2000 @l_app) (lmet rmet))
  rmet (tap-dance 200 (rmet (layer-toggle app)))

  ;; dash to long dash
  - (tap-hold $tap-timeout $hold-timeout - (unicode "–"))

  wmxf (t! deeplink raycast://extensions/raycast/window-management/maximize) ;; window maximize (full)
  wmxa (t! deeplink raycast://extensions/raycast/window-management/almost-maximize) ;; window maximize (almost)
  wmvh (t! deeplink raycast://extensions/raycast/window-management/left-half) ;; window move (left)
  wmvj (t! deeplink raycast://extensions/raycast/window-management/bottom-half) ;; window move (down)
  wmvk (t! deeplink raycast://extensions/raycast/window-management/top-half) ;; window move (up)
  wmvl (t! deeplink raycast://extensions/raycast/window-management/right-half) ;; window move (right)
  wsam (t! deeplink raycast://extensions/raycast/window-management/next-display) ;; window switch to another monitor

  ;; chords actons
  open_clipboard_history (t! deeplink raycast://extensions/raycast/clipboard-history/clipboard-history)
  open_confetti (t! deeplink raycast://extensions/raycast/raycast/confetti)
  open_emoji_symbols (t! deeplink raycast://extensions/raycast/emoji-symbols/search-emoji-symbols)
  open_snippets (t! deeplink raycast://extensions/raycast/snippets/search-snippets)
  lock_system C-M-q

  ;; layer notifications
  l_qwe_notify (cmd-log none none osascript -e "display notification \"Qwerty Layer\" with title \"Kanata\"")
  l_cmk_notify (cmd-log none none osascript -e "display notification \"Colemak Layer\" with title \"Kanata\"")
  l_act_notify (cmd-log none none osascript -e "display notification \"Actions Layer\" with title \"Kanata\"")
  l_scr_notify (cmd-log none none osascript -e "display notification \"Screenshot Layer\" with title \"Kanata\"")
  l_sys_notify (cmd-log none none osascript -e "display notification \"System Layer\" with title \"Kanata\"")
  l_win_notify (cmd-log none none osascript -e "display notification \"Window Layer\" with title \"Kanata\"")
  l_fn_notify  (cmd-log none none osascript -e "display notification \"Fn Layer\" with title \"Kanata\"")
  l_app_notify (cmd-log none none osascript -e "display notification \"App Layer\" with title \"Kanata\"")

  ;; layer indicator on = key
  l_qwe_eql     (tap-hold $tap-timeout $hold-timeout = @l_qwe_notify)
  l_cmk_eql     (tap-hold $tap-timeout $hold-timeout = @l_cmk_notify)
  l_act_eql     (tap-hold $tap-timeout $hold-timeout = @l_act_notify)
  l_scr_eql     (tap-hold $tap-timeout $hold-timeout = @l_scr_notify)
  l_sys_eql     (tap-hold $tap-timeout $hold-timeout = @l_sys_notify)
  l_win_eql     (tap-hold $tap-timeout $hold-timeout = @l_win_notify)
  l_fn_eql      (tap-hold $tap-timeout $hold-timeout = @l_fn_notify)
  l_app_eql     (tap-hold $tap-timeout $hold-timeout = @l_app_notify)
  l_qwe_smp_eql (tap-hold $tap-timeout $hold-timeout = (cmd-log none none osascript -e "display notification \"Qwerty Sample Keys Layer\" with title \"Kanata\""))
  l_smp_eql     (tap-hold $tap-timeout $hold-timeout = (cmd-log none none osascript -e "display notification \"Sample Layer\" with title \"Kanata\""))

  ;; screenshot actions
  l_scr_are (t! deeplink cleanshot://capture-area)
  l_scr_ful (t! deeplink cleanshot://capture-fullscreen)

  ;; app switching
  l_app_ala (t! openapp Alacritty)
{{- if .work }}
  l_app_agi (t! openapp ChatGPT)
{{- else }}
  l_app_agi (t! openapp Claude)
{{- end }}
  l_app_arc (t! openapp Arc)
  l_app_fan (t! openapp Fantastical)
  l_app_mai (t! openapp Mail)
  l_app_pst (t! openapp Postman)
  l_app_slk (t! openapp Slack)
  l_app_spo (t! openapp Spotify)
  l_app_obd (t! openapp Obsidian)
  l_app_tod (t! openapp Todoist)
  l_app_tgr (t! openapp Telegram)
  l_app_wts (t! openapp WhatsApp)
  l_app_zoo (t! openapp Zoom)
)

(defchordsv2
  (d k) ret $chord-timeout first-release (colemak)
  (s e) ret $chord-timeout first-release (qwerty)

  (f j) esc $chord-timeout first-release (colemak)
  (t n) esc $chord-timeout first-release (qwerty)

  (d f) @l_act $chord-timeout-slow first-release (colemak)

  (; r) lrld $chord-timeout-slow first-release ()
  (; c) @open_confetti $chord-timeout-slow first-release ()
  (; e) @open_emoji_symbols $chord-timeout-slow first-release ()
  (; t) @open_snippets $chord-timeout-slow first-release ()
  (; v) @open_clipboard_history $chord-timeout-slow first-release ()
  (; q) @lock_system $chord-timeout-slow first-release ()
)

(deflayer qwerty
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  @l_qwe_grv 1          2          3          4          @5         6          7          8          9          0          @-         @l_qwe_eql bspc
  tab        q          @w         e          r          t          y          @u         i          o          p          [          ]          ret
  esc        a          @l_qwe_s   @l_qwe_d   @l_qwe_f   g          h          @l_qwe_j   @l_qwe_k   @l_qwe_l   ;          '          \
  lsft       z          x          @l_qwe_c   v          b          n          @l_qwe_m   ,          .          /          rsft
  @fn        lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer colemak
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  @l_cmk_grv 1          2          3          4          @5         6          7          8          9          0          @-         @l_cmk_eql bspc
  tab        q          @w         f          p          b          j          l          @u         y          ;          [          ]          ret
  esc        a          @l_cmk_r   @l_cmk_s   @l_cmk_t   g          m          @l_cmk_n   @l_cmk_e   @l_cmk_i   o          '          \
  lsft       z          x          @l_cmk_c   d          v          k          @l_cmk_h   ,          .          /          rsft
  @fn        lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer system
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_sys_eql XX
  XX         XX         XX         XX         XX         XX         XX         🔅         🔆         XX         ▶⏸         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         🔉         🔊         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         🔇         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer window
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_win_eql XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         @wsam      XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         @wmvh      @wmvj      @wmvk      @wmvl      XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         @wmxf      @wmxa      XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer fn
  XX         f1         f2         f3         f4         f5         f6         f7         f8         f9         f10        f11        f12
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_fn_eql  del
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer app
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_app_eql XX
  XX         XX         @l_app_wts @l_app_mai XX         @l_app_ala XX         XX         @l_app_agi XX         @l_app_pst XX         XX         XX
  XX         XX         @l_app_spo @l_app_tod XX         @l_app_tgr XX         XX         XX         @l_app_slk XX         XX         XX
  XX         @l_app_zoo XX         @l_app_fan XX         @l_app_arc @l_app_obd XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer actions
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_act_eql @l_qwe
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  @l_qwe     XX         @l_scr     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer screenshot
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_scr_eql @l_act
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  @l_qwe     @l_scr_are XX         XX         @l_scr_ful XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer qwerty_sample_keys
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  grv        1          2          3          4          5          6          7          8          9          0          -          @l_qwe_smp_eql bspc
  tab        q          w          e          r          t          y          u          i          o          p          [          ]          ret
  esc        a          s          d          f          g          h          j          k          l          ;          '          \
  lsft       z          x          c          v          b          n          m          ,          .          /          rsft
  fn         lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer sample
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         @l_smp_eql XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)
