(defcfg
  danger-enable-cmd yes
  concurrent-tap-hold yes
)

(defsrc
  esc      f1       f2       f3       f4       f5       f6       f7       f8       f9       f10      f11      f12
  grv      1        2        3        4        5        6        7        8        9        0        -        =        bspc
  tab      q        w        e        r        t        y        u        i        o        p        [        ]        ret
  caps     a        s        d        f        g        h        j        k        l        ;        '        \
  lsft     z        x        c        v        b        n        m        ,        .        /        rsft
  fn       lctl     lalt     lmet                       spc                        rmet     ralt     rctl     left     down     up       right
)

(platform (macos)
  (defoverrides
    (lctl bspc) (lalt bspc)
    (rctl bspc) (ralt bspc)

    (lctl up) (lalt up)
    (lctl down) (lalt down)
    (lctl left) (lalt left)
    (lctl right) (lalt right)

    (rctl up) (ralt up)
    (rctl down) (ralt down)
    (rctl left) (ralt left)
    (rctl right) (ralt right)
  )
)

(defvar
  tap-timeout 200
  hold-timeout 200
  chord-timeout 30
  chord-timeout-slow 50
)

(deftemplate charmod (char mod)
  (switch
    ((key-timing 3 less-than 250)) $char break
    () (tap-hold-release-timeout 200 500 $char $mod $char) break
  )
)

(deftemplate deeplink (url)
  (cmd-log none none open -g $url)
)

(deftemplate openapp (appname)
  (cmd-log none none open -a $appname)
)

(defalias
  ;; layers
  l_fn     (layer-while-held fn)
  l_sys    (layer-while-held system)
  l_wh_win (layer-while-held window)
  l_sw_win (layer-switch window)
  l_wh_app (layer-while-held app)
  l_sw_app (layer-switch app)
  l_act    (layer-switch actions)
  l_scr    (layer-switch screenshot)
  l_ray    (layer-switch raycast)
  l_cmk    (layer-switch colemak)
  l_qwe    (layer-switch qwerty)

  ;; layout switching via grave key
  l_qwe_grv (tap-hold $tap-timeout $hold-timeout grv @l_cmk)
  l_cmk_grv (tap-hold $tap-timeout $hold-timeout grv @l_qwe)

  ;; layer switchers
  fn   (tap-hold $tap-timeout $hold-timeout fn @l_fn)
  5    (tap-hold-release-timeout $tap-timeout $hold-timeout 5 @l_sys 5)
  w    (tap-hold-release-timeout $tap-timeout $hold-timeout w @l_wh_win w)
  rmet (tap-dance 200 (rmet @l_wh_app))

  ;; dash to long dash
  - (tap-hold $tap-timeout $hold-timeout - (unicode "–"))

  ;; window management actions
  a_winmax  (t! deeplink raycast://extensions/raycast/window-management/maximize) ;; window maximize (full)
  a_winamax (t! deeplink raycast://extensions/raycast/window-management/almost-maximize) ;; window maximize (almost)
  a_winmovh (t! deeplink raycast://extensions/raycast/window-management/left-half) ;; window move (left)
  a_winmovj (t! deeplink raycast://extensions/raycast/window-management/bottom-half) ;; window move (down)
  a_winmovk (t! deeplink raycast://extensions/raycast/window-management/top-half) ;; window move (up)
  a_winmovl (t! deeplink raycast://extensions/raycast/window-management/right-half) ;; window move (right)
  a_winmosw (t! deeplink raycast://extensions/raycast/window-management/next-display) ;; window switch to another monitor

  ;; chord actions
  a_cliphis (t! deeplink raycast://extensions/raycast/clipboard-history/clipboard-history)
  a_confett (t! deeplink raycast://extensions/raycast/raycast/confetti)
  a_emojlst (t! deeplink raycast://extensions/raycast/emoji-symbols/search-emoji-symbols)
  a_snippet (t! deeplink raycast://extensions/raycast/snippets/search-snippets)
  a_locksys C-M-q

  ;; screenshot actions
  a_scrarea (t! deeplink cleanshot://capture-area)
  a_scrfull (t! deeplink cleanshot://capture-fullscreen)

  ;; app opening actions
  a_opn_ala (t! openapp Alacritty)
{{- if .work }}
  a_opn_agi (t! openapp ChatGPT)
{{- else }}
  a_opn_agi (t! openapp Claude)
{{- end }}
  a_opn_arc (t! openapp Arc)
  a_opn_fan (t! openapp Fantastical)
  a_opn_mai (t! openapp Mail)
  a_opn_pst (t! openapp Postman)
  a_opn_slk (t! openapp Slack)
  a_opn_spo (t! openapp Spotify)
  a_opn_obd (t! openapp Obsidian)
  a_opn_tod (t! openapp Todoist)
  a_opn_tgr (t! openapp Telegram)
  a_opn_wts (t! openapp WhatsApp)
  a_opn_zoo (t! openapp Zoom)
)

(defchordsv2
  (d k) ret $chord-timeout first-release (colemak)
  (s e) ret $chord-timeout first-release (qwerty)

  (f j) esc $chord-timeout first-release (colemak)
  (t n) esc $chord-timeout first-release (qwerty)

  (d f) @l_act $chord-timeout-slow first-release (colemak)

  (; r) lrld $chord-timeout-slow first-release ()
  (; c) @a_confett $chord-timeout-slow first-release ()
  (; e) @a_emojlst $chord-timeout-slow first-release ()
  (; t) @a_snippet $chord-timeout-slow first-release ()
  (; v) @a_cliphis $chord-timeout-slow first-release ()
  (; q) @a_locksys $chord-timeout-slow first-release ()
)

(deflayer qwerty
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  @l_qwe_grv 1          2          3          4          @5         6          7          8          9          0          @-         =          bspc
  tab        q          @w         e          r          t          y          u          i          o          p          [          ]          ret
  esc        a          s          d          f          g          h          j          k          l          ;          '          \
  lsft       z          x          c          v          b          n          m          ,          .          /          rsft
  @fn        lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer colemak
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  @l_cmk_grv 1          2          3          4          @5         6          7          8          9          0          @-         =          bspc
  tab        q          @w         f          p          b          j          l          u          y          ;          [          ]          ret
  esc        a          r          s          t          g          m          n          e          i          o          '          \
  lsft       z          x          c          d          v          k          h          ,          .          /          rsft
  @fn        lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer system
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          XX
  XX         XX         XX         XX         XX         XX         XX         🔅         🔆         XX         ▶⏸         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         🔉         🔊         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         🔇         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer fn
  XX         f1         f2         f3         f4         f5         f6         f7         f8         f9         f10        f11        f12
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          del
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer actions
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          @l_qwe
  XX         XX         @l_sw_win  XX         @l_ray     XX         XX         XX         XX         @l_sw_app  XX         XX         XX         XX
  @l_qwe     XX         @l_scr     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer window
  @l_qwe     🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          @l_act
  XX         XX         XX         XX         XX         XX         XX         XX         XX         @a_winmosw XX         XX         XX         XX
  @l_qwe     XX         XX         XX         XX         XX         @a_winmovh @a_winmovj @a_winmovk @a_winmovl XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         @a_winmax  @a_winamax XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer screenshot
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          @l_act
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  @l_qwe     @a_scrarea XX         XX         @a_scrfull XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer raycast
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          @l_act
  XX         XX         XX         @a_emojlst XX         @a_snippet XX         XX         XX         XX         XX         XX         XX         XX
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         @a_confett @a_cliphis XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer app
  @l_qwe     XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          @l_act
  XX         XX         @a_opn_wts @a_opn_mai XX         @a_opn_ala XX         XX         @a_opn_agi XX         @a_opn_pst XX         XX         XX
  XX         XX         @a_opn_spo @a_opn_tod XX         @a_opn_tgr XX         XX         XX         @a_opn_slk XX         XX         XX
  XX         @a_opn_zoo XX         @a_opn_fan XX         @a_opn_arc @a_opn_obd XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)

(deflayer qwerty_sample_keys
  esc        🔅         🔆         mctl       sls        dtn        dnd        ◀◀         ▶⏸         ▶▶         🔇         🔉         🔊
  grv        1          2          3          4          5          6          7          8          9          0          -          =          bspc
  tab        q          w          e          r          t          y          u          i          o          p          [          ]          ret
  esc        a          s          d          f          g          h          j          k          l          ;          '          \
  lsft       z          x          c          v          b          n          m          ,          .          /          rsft
  fn         lalt       lctl       lmet                             spc                              @rmet      rctl       ralt       left       down       up         right
)

(deflayer sample
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         =          XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX         XX
  XX         XX         XX         XX                               XX                               XX         XX         XX         XX         XX         XX         XX
)
