{{ if .personal -}}
export AWS_ACCESS_KEY_ID="op://Private/xecsbdzxtko4nlw5hjgraeqivq/access_key_id"
export AWS_SECRET_ACCESS_KEY="op://Private/xecsbdzxtko4nlw5hjgraeqivq/secret_access_key"
{{ end -}}
