includes = [
    "~/private/.config/pop/config.toml",
    "~/private/.config/pop/workbenches.toml"
]

projects = [
    { path = "~/.local/share/chezmoi" },
    { path = "~/Dev/*/*" },
    { path = "~/Dev/mixed/obsidian_vaults/*", display_depth = 2 }
]

[workbench]
pick_on_create = true

[integrations]
skills_prefix = ""

[[commands]]
key = "ctrl+o"
label = "dev o"
command = "$SHELL -ic 'dev o'"
exit = true

[dashboard]
# current_pane_always_under_cursor = true
cursor_position = "current_any"
sort_criteria = ["status", "pane_last_active_at", "alphabetical"]

[pane_monitoring]
tcp_server = true
ignore_status_from = ["tmux-global"]
topic_agents = [
    { type = "truncate", set_if = "empty" },
    { type = "agent", command = "ollama:gemma4:e4b", set_if = "empty_or_seed", timeout = 60 }
]

[[worktree.commands]]
key = "ctrl+l"
label = "cleanup"
command = "tmux-branch-cleanup"
exit = true

[workload]
{{- if .work -}}
default_agents = ["claude"]
{{- else }}
default_agents = ["codex", "cursor", "claude"]
{{- end }}

{{ if .work -}}
[effort.claude]
heavy = [{ model = "opus", reasoning = "xhigh" }]
standard = [{ model = "opus", reasoning = "high" }]
light = [{ model = "sonnet", reasoning = "high" }]
{{ else }}
[effort.claude]
heavy = [{ model = "sonnet", reasoning = "max" }]
standard = [{ model = "sonnet", reasoning = "xhigh" }]
light = [{ model = "haiku", reasoning = "high" }]
{{ end }}

[effort.pi]
heavy = [{ model = "opencode-go/qwen3.7-max" }]
standard = [{ model = "opencode-go/kimi-k2.7-code" }]
light = [{ model = "opencode-go/deepseek-v4-flash" }]
