;; examples - https://github.com/yqrashawn/GokuRakuJoudo/blob/65a5e10abbb600ca3c9e4a0bd39153f212709d59/examples.org
;; modifiers (Command, Control, Option, etc) - https://github.com/yqrashawn/GokuRakuJoudo/blob/65a5e10abbb600ca3c9e4a0bd39153f212709d59/tutorial.md#command-a-to-control-1

{
 :profiles {
            :Default {
                      :default true
                      :sim 50
                      :delay 500
                      :alone 500
                      :held 500
                      }
            }

 :simlayers {
             :window_mode { :key :w }
             :system_mode { :key :s }
             :format_mode { :key :g }
             }

 :input-sources { ;; define input-source, these data can be found in Karabiner EventViewer gui
                 :en { :language "en" }
                 :ru { :language "ru" }
                 }


 :devices {
           :built_in [
                         {:is_built_in_keyboard true}
                         ]
           }

 :templates {
             }
 :main
 [
  {
   :des "Control/Option swap on built-in keyboard"
   :rules [
           :built_in
           [:##left_option :##left_control]
           [:##right_option :##right_control]
           [:##left_control :##left_option]
           [:##caps_lock :##escape]
           ]
   }
  {
   :des "Control/Option text traversal/editing swap"
   :rules [
           ; Deletion
           [:!Tdelete_or_backspace :!Odelete_or_backspace]
           [:!Wdelete_or_backspace :!Odelete_or_backspace]

           ; Traversal
           [:!Tup_arrow :!Oup_arrow]
           [:!Tdown_arrow :!Odown_arrow]
           [:!Tleft_arrow :!Oleft_arrow]
           [:!Tright_arrow :!Oright_arrow]
           [:!Wup_arrow :!Oup_arrow]
           [:!Wdown_arrow :!Odown_arrow]
           [:!Wleft_arrow :!Oleft_arrow]
           [:!Wright_arrow :!Oright_arrow]
           [:!Oup_arrow :!Tup_arrow]
           [:!Odown_arrow :!Tdown_arrow]
           [:!Oleft_arrow :!Tleft_arrow]
           [:!Oright_arrow :!Tright_arrow]

           ; Visual selection
           [:!SOright_arrow :!STright_arrow]
           [:!STright_arrow :!SOright_arrow]
           [:!SOleft_arrow :!STleft_arrow]
           [:!STleft_arrow :!SOleft_arrow]
           [:!SOup_arrow :!STup_arrow]
           [:!STup_arrow :!SOup_arrow]
           [:!SOdown_arrow :!STdown_arrow]
           [:!STdown_arrow :!SOdown_arrow]
           ]
   }
  {
   :des "Window mode"
   :rules [
           :window_mode
           [:h [:!CTOh]]         ; Half-left window
           [:j [:!CTOj]]         ; Half-bottom window
           [:k [:!CTOk]]         ; Half-top window
           [:l [:!CTOl]]         ; Half-right window
           [:m [:!CTOm]]         ; Maximize window
           [:comma [:!CTOcomma]] ; Almost maximize
           ]
   }
  {
   :des "System mode"
   :rules [
           :system_mode
           [:k [:volume_increment]]
           [:j [:volume_decrement]]
           [:i [:display_brightness_increment]]
           [:u [:display_brightness_decrement]]
           [:m [:mute]]
           [:p [:play_or_pause]]
           [:backslash [:!CTq]] ; Lock computer
           ]
   }
  {
   :des "Format mode (en)"
   :rules [
           [:condi :format_mode :en]
           [:y [:!S8 :!S8]]
           [:u [:!S8]]
           [:h [:!Ssemicolon]]
           [:hyphen [:!SOhyphen]]
           ]
   }
  {
   :des "Format mode (ru)"
   :rules [
           [:condi :format_mode :ru]
           [:y [:!O8 :!O8]]
           [:u [:!O8]]
           [:h [:!S5]]
           [:hyphen [:!SOhyphen]]
           ]
   }
  ]
 }
