;; examples - https://github.com/yqrashawn/GokuRakuJoudo/blob/65a5e10abbb600ca3c9e4a0bd39153f212709d59/examples.org
;; modifiers (Command, Control, Option, etc) - https://github.com/yqrashawn/GokuRakuJoudo/blob/65a5e10abbb600ca3c9e4a0bd39153f212709d59/tutorial.md#command-a-to-control-1

{
 :profiles { :Default { :default true :sim 50 :delay 500 :alone 500 :held 500 } }

 :simlayers {
             :window_mode { :key :w }
             :system_mode { :key :s }
             }

 :devices {:tds_macbook [{:product_id 832 :vendor_id 1452}]}

 :templates {
             }
 :main
 [
  {
   :des "Control/Option swap on Macbook Keyboard"
   :rules [
           :tds_macbook
           [:##left_option :##left_control]
           [:##right_option :##right_control]
           [:##left_control :##left_option]
           [:##caps_lock :##escape]
           ]
   }
  {
   :des "Control/Option text traversal/editing swap"
   :rules [
           [:!Tdelete_or_backspace :!Odelete_or_backspace]
           [:!Tup_arrow :!Oup_arrow]
           [:!Tdown_arrow :!Odown_arrow]
           [:!Tleft_arrow :!Oleft_arrow]
           [:!Tright_arrow :!Oright_arrow]
           [:!Wdelete_or_backspace :!Odelete_or_backspace]
           [:!Wup_arrow :!Oup_arrow]
           [:!Wdown_arrow :!Odown_arrow]
           [:!Wleft_arrow :!Oleft_arrow]
           [:!Wright_arrow :!Oright_arrow]
           [:!Oup_arrow :!Tup_arrow]
           [:!Odown_arrow :!Tdown_arrow]
           [:!Oleft_arrow :!Tleft_arrow]
           [:!Oright_arrow :!Tright_arrow]
           ]
   }
  {
   :des "Window mode"
   :rules [
           :window_mode
           [:h [:!CTOh]]         ; Half-left window
           [:j [:!CTOj]]         ; Half-bottom window
           [:k [:!CTOk]]         ; Half-top window
           [:l [:!CTOl]]         ; Half-right window
           [:m [:!CTOm]]         ; Maximize window
           [:n [:!Tf4]]          ; Focus next window
           [:comma [:!CTOcomma]] ; Almost maximize
           ]
   }
  {
   :des "System mode"
   :rules [
           :system_mode
           [:u [:display_brightness_increment]]
           [:j [:display_brightness_decrement]]
           [:i [:volume_increment]]
           [:k [:volume_decrement]]
           [:p [:play_or_pause]]
           [:backslash [:!CTq]] ; Lock computer
           ]
   }
  ]
 }
